#poem-title {
  margin: 5vw 0 2vw 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 2.5em;
  text-align: center;
}
#poem-title.large-title {
  font-size: 2em;
}