#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  outline: none;
}
#poetry {
  font-size: 28px;
  white-space: pre-wrap;
  margin: 2vh auto;
  line-height: 1.5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 800px) {
  #poem-box #poetry {
      font-size: 24px;
  }
}
@media (max-width: 550px) {
  #poem-box #poetry {
      font-size: 20px;
  }
}
#or-text {
  text-align: center;
  font-family: 'Savate';
  font-size: 4em;
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5vw 1vw;
  border-radius: 50%;
}

#author-cont {
  margin: auto 0 0 2vw;
  padding: 0 5px;
  font-family: 'Montserrat';
}
#author-link {
  text-decoration: none;
}
#author-link:hover {
  color: black;
}
#max-line {
  width: fit-content;
  margin: 1vw 0 0 2vw;
  padding: 5px;
  border-radius: 5px;
}
#max-line:hover {
  background-color: grey;
  cursor: pointer;
}
/* remove input arrows on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* remove input arrows on Firefox */
input[type=number] {
-moz-appearance: textfield;
appearance: initial;
}

#enter-svg.poem {
  position: fixed;
  bottom: -2em;
  right: -2em;
  width: 3vw;
  opacity: 0;
  animation: fade-in-enter 0.5s forwards;
}
@keyframes fade-in-enter {
  from {
      opacity: 0;
      bottom: -2em;
      right: -2em;
  }
  to {
      opacity: 1;
      bottom: 2em;
      right: 2em;
  }
}

#cancel-madlibs {
  margin-left: 20vw;
}